<div class="container mt-2">
  <div class="row">
    <div class="d-flex col">
      <app-input
        [placeholder]="'Buscar...'"
        (modelUpdate)="onFilterUpdate($event)"
      ></app-input>
    </div>
    <div class="d-flex col justify-content-end">
      <app-button
        label="Agregar"
        (onClick)="agregarProducto()"
        [primary]="true"
      ></app-button>
    </div>
  </div>
  <app-table
    [data]="filteredProducts"
    [headers]="headers"
    [context]="context"
  ></app-table>
</div>
<app-modal [modalSettings]="modalSettings" class="w25">
  <div class="model-content">
    <div class="d-flex justify-content-center mb-2" *ngIf="error">
      <img
        [src]="'assets/img/sad.svg'"
        width="50px"
      />
    </div>
    <p class="text-primary fw-800 mb-2">
      {{ modalSettings.content }}
    </p>
    <small *ngIf="error">Error: {{errorName}}</small>
  </div>
</app-modal>
